@font-face {
  font-family: 'Lekton-Bold';
  src: url('../fonts/Lekton-Bold.woff2') format('woff2'),
       url('../fonts/Lekton-Bold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'KumbhSans-Regular';
  src: url('../fonts/KumbhSans-Regular.woff2') format('woff2'),
       url('../fonts/KumbhSans-Regular.woff') format('woff');
  font-display: swap;
}
:root{
    --light-gray: #F5F5F5;
    --mint-green: #add0b3;
    --black-primary: #121212;
    --tag-css: #abdee6;
    --tag-html: #eceae4;
    --tag-php: #cbaacb;
    --tag-jquery: #ff968a;
    --tag-wordpress: #55cbcd; 
    --tag-elementor: #fee1e8;
    --tag-ajax: #ffc8a2; 
    --tag-js: #fcb9aa; 
    /* --forest-green: #2F5233; */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black-primary);
}
p, a {
    color: var(--black-primary);
    font-family: 'KumbhSans-Regular';
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Lekton-Bold';
    line-height: 1.1em;
    font-weight: 400;
}
.body-container {
    width: 100%;
    display: flex;
}
nav#side-nav {
    width: 15%;
    max-width: 200px;
    padding: 50px 30px;
    background: var(--light-gray);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 13px 0 rgba(113, 111, 111, 0.25);
    height: 100vh;
    position: sticky;
    top: 0;
}
.profile-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 32px;
}
.profile-img img {
    width: 100%;
    max-width: 100px;
    height: 100%;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 16px;
    min-width: 80px;
}
.nav-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.nav-list a {
    text-decoration: none;
    font-size: 13px;
}
.nav-list ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding: 0;
}
.nav-list a svg {
    width: 20px;
}
.v-divider {
    flex-grow: 1;
    width: 2px;
    background: #000;
    height: auto;
}
.content-container {
    flex-grow: 1;
    position: relative;
}

.section-identifier {
    height: 30px;
    overflow: hidden;
}
.scroll-identifier-container span {
    height: 30px;
    display: flex;
    align-items: center;
    color: var(--black-primary);
    font-family: 'Lekton-Bold';
    font-size: 20px;
}

.scroll-identifier-container {
    display: flex;
    flex-direction: column;
}

.top-items {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    padding: 0 50px;
}
.resume-btn {
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.29);
    padding: 10px 30px;
    cursor: pointer;
    font-family: 'Lekton-Bold';
    font-weight: 400;
    line-height: 1em;
}
.resume-btn svg {
    width: 16px;
}
.h-divider {
    flex-grow: 1;
    height: 1.6px;
    width: auto;
    background: var(--black-primary);
}
section.portfolio-content{
    height: 100vh;
}
section.hero h2 {
    font-size: 7rem;
    font-weight: 400;
    color: #fff;
    background: var(--black-primary);
    padding: 20px 20px 10px;
    line-height: 1em;
    width: fit-content;
    margin: 20px 0 50px;
    box-shadow: 30px 20px 0 0px var(--mint-green);
    letter-spacing: 10px;
}
section.hero h1 {
    font-size: 4rem;
    font-weight: 400;
    color: var(--mint-green);
}
section.hero h3 {
    font-size: 1.3rem;
    font-weight: 400;
}
.content-container section {
    padding: 120px 50px 50px;
}
section.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

.work-preview-img img {
    width: 100%;
    max-width: 550px;
    height: auto;
    margin-bottom: 30px;
    box-shadow: 0 0 13px 0 rgba(113, 111, 111, 0.25);
}
span.work-tag {
    padding: 5px 10px;
    display: flex;
    font-family: 'KumbhSans-Regular';
    border: 1px solid var(--black-primary);
}
.work-tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 20px 0;
}
section#works {
    display: flex;
    gap: 80px;
    justify-content: space-around;
}
.work-list-items{
    position: relative;
    padding: 50px 80px;
    background: #fff;
}
.work-list-items::before, .work-list-items::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--black-primary);
    width: 50%;
    height: 50%;
    transform: translate(-2px, -2px);
        z-index: -1;
}
.work-list-items::after{
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    transform: translate(2px, 2px);

}
.work-list-items ul {
    list-style: decimal-leading-zero;
    font-family: 'Lekton-Bold';
    
    height: auto;
    position: relative;
    background: #fff;
}
.work-list-items ul li {
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}
.work-list-items ul li.active:before, .work-list-items ul li.active:after, 
.work-list-items ul li:hover:before, .work-list-items ul li:hover:after {
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    left: 0;
    top: 50%;
    transform: translate(calc(-100% + -40px), -50%);
    border: 1px solid var(--black-primary);
}
.work-list-items ul li.active:after, .work-list-items ul li:hover:after {
    background: var(--mint-green);
    width: 8px;
    height: 8px;
    border: none;
    transform: translate(calc(-100% + -43px), -50%);
}
.work-list-items h2 { margin-bottom: 20px; }
.work-types { margin-bottom: 20px; }
.work-cta {
    display: flex;
    gap: 10px;
}

.work-cta a {
    display: flex;
    text-decoration: none;
    gap: 10px;
    border: 1px solid var(--black-primary);
    padding: 5px 10px;
}
.work-cta svg { width: 20px; }

section#tech {
    display: flex;
    align-items: center;
}
.tech-title {
    width: 25%;
}
.tech-logos {
    position: relative;
}
.tech-logos {
    position: relative;
    width: 300px;
    height: 300px;
    margin: auto;
}
.main-tech-logo {
    position: relative;
    width: 100%;
    height: 100%;
}
.tech-content {
    width: 75%;
    height: 100%;
}
.tech-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.main-tech-logo > div.tech-logo {
    max-width: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tech-container .tech-logo {
    position: absolute;
}
.tech-container > .tech-logo:first-child{
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}
.tech-container > .tech-logo:nth-child(2){
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
}
.tech-container > .tech-logo:nth-child(3){
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
}
.tech-container > .tech-logo:last-child{
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
}

.second-rotate {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.second-tech-logo.tech-container {
    transform: rotate(45deg);
}
.second-tech-logo.tech-container > .tech-logo {
    transform: rotate(-45deg);
}

.second-tech-logo.tech-container > .tech-logo:first-child {
    transform: rotate(-45deg) translate(0, -50%);
}
.second-tech-logo.tech-container > .tech-logo:nth-child(2) {
    transform: rotate(-45deg) translate(50%, 0);
}
.second-tech-logo.tech-container > .tech-logo:nth-child(3) {
    transform: rotate(-45deg) translate(-50%, 0);
}
.second-tech-logo.tech-container > .tech-logo:last-child {
    transform: rotate(-45deg) translate(0, 50%);
}

.tech-logo img {
    width: 100%;
}

.tech-container .tech-logo{
    width: 100%;
    max-width: 80px;
}

.first-tech-logo.tech-container .tech-logo {
    animation: negrotate 20s linear infinite;
}

.second-tech-logo.tech-container .tech-logo img{
    animation: negrotate 20s linear infinite;
}

.first-tech-logo.tech-container, .second-rotate{
    animation: rotate 20s linear infinite;
}


@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@keyframes negrotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
}

@media only screen and (max-width: 991.5px){
    section.portfolio-content { height: 90vh; }
    section.hero {
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    section.hero h1 { font-size: 3rem; }
    section.hero h2 { font-size: 5rem; }
    .work-lists { display: none; }
    .body-container { flex-direction: column-reverse; }
    nav#side-nav {
        width: 100%;
        max-width: 100%;
        padding: 20px;
        flex-direction: row;
        height: 10vh;
        top: auto;
        bottom: 0;
        z-index: 9;
    }
    .profile-img { display: none; }
    .nav-list { flex-direction: row-reverse; }
    .nav-list ul { flex-direction: row; }
    .top-items {
        gap: 20px;
        position: sticky;
        top: 30px;
        padding: 0 50px;
        z-index: 9;
        background: #fff8;
    }

}